.container-page
    height: -webkit-fill-available
    padding: 4vh 2vh 4vh 2vh

.map
    height: 35vh
    background-size: 180%
    background-position: center
    background-repeat: no-repeat
    background-image: url('../../../assets/img/example-mapa.jpg')
    box-shadow: 2px 2px 4px 2px #00000066

.container-contact
    position: relative !important
    background-color: #f5f5f5
    margin: -10vh 4vw 0 4vw
    padding: 1.5vh
    box-shadow: 0 24px 48px #00000066, 0 32px 64px #0000004d

.section-title
    font-size: 25px
    font-weight: bold
    text-align: center

.text-cell
    display: flex
    align-items: center
    justify-content: center
    > mat-icon
        height: auto
        width: auto
        margin-right: 10px

hr
    background-color: #000000
    margin: 5px 10px 5px 10px
.show-mobile
    visibility: visible

@media ( min-width: 700px )
    .container-page
        padding: 5vh !important
    .map
        background-size: 120%
        @media ( min-width: 1500px )
            background-size: 100% !important
    .container-contact
        margin: -5vh 10vw 0 10vw
        padding: 1.5vh 2vh 4vh 2vh !important
    .section-title
        font-size: 30px
    .text-cell
        font-size: 25px
        > mat-icon
            font-size: 40px
    hr
        margin: 20px 50px 20px 50px
    .show-mobile
        visibility: hidden