
// @import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap')
// font-family: "Spicy Rice", serif
.page
    display: flex
    justify-content: center
    background-image: url('./assets/img/fondo.jpg')
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    z-index: -1
.container-page
    border-radius: 10px
    margin: 3vh
    margin-top: 12vh
    background-color: #cacaca
    width: 100%
    max-width: 1200px
    height: -webkit-fill-available
    box-shadow: 0 24px 48px #00000066, 0 32px 64px #0000004d

.pointer
    cursor: pointer