<div class="footer-content">
  <div class="footer-section">
    <h4>Legal</h4>
    <ul>
      <li><a href="/politica-privacidad">Política de privacidad</a></li>
      <li><a href="/terminos">Términos y condiciones</a></li>
    </ul>
  </div>

  <div class="footer-section">
    <h4>Contacto</h4>
    <ul>
      <li>
        <a href="tel:684629261">633 745 419</a> |
        <a href="tel:985662786">985 662 786</a>
      </li>
      <li>
        <a href="mailto:ejemplo.correo@gmail.com"
          >ejemplo.correo{{ "@gmail" }}.com</a
        >
      </li>
    </ul>
  </div>

  <div class="footer-section">
    <h4>Síguenos</h4>
    <ul>
      <li>
        <a
          href="https://www.instagram.com/jl_competicion/?igshid=OGQ5ZDc2ODk2ZA%3D%3Dl"
        >
          {{ "@" }}jl_competicion</a
        >
      </li>
    </ul>
  </div>
</div>
<div class="footer-copy">© 2025 Mi Sitio</div>
