<div class="wrapper">
  <div class="page">
    <div class="page-header">
      <span>J.L COMPETICIÓN</span>
      <span>Tienda de recambios y accesorios para vehículos</span>
    </div>

    <div
      #optionsContainer
      class="is-flex is-align-items-start custom-is-align-items-end is-justify-content-center"
    >
      <div class="custom-grid-options">
        <div (click)="goToVehiculos(optionsContainer)">
          <mat-icon>time_to_leave</mat-icon> <span>Vehículos</span>
        </div>
        <div (click)="goToRecambios(optionsContainer)">
          <mat-icon>hardware</mat-icon> <span>Recambios</span>
        </div>
        <div (click)="goToContact(optionsContainer)">
          <mat-icon>support_agent</mat-icon> <span>Contacto</span>
        </div>
      </div>
    </div>
  </div>
</div>
