<div class="wrapper">
  <div class="page">
    <div class="home-title">
      <span>J.L COMPETICIÓN</span>
      <span>Tienda de recambios y accesorios para vehículos</span>
    </div>

    <div class="is-flex is-align-items-center custom-is-align-items-end">
      <div class="custom-grid-options">
        <div (click)="goToVehiculos()">
          <mat-icon>time_to_leave</mat-icon>
          <span>Vehículos</span>
        </div>
        <div (click)="goToRecambios()">
          <mat-icon>hardware</mat-icon>
          <span>Recambios</span>
        </div>
        <div (click)="goToContact()"> 
          <mat-icon>support_agent</mat-icon>
          <span>Contacto</span>
        </div>
      </div>
   </div>
  </div>
</div>