@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bungee&family=Spicy+Rice&display=swap')
// font-family: "Bungee", serif

.section 
    flex-grow: 1

mat-icon
    opacity: 0
    font-size: 70px
    width: auto
    height: auto
    position: fixed
    left: -20px
    
.section
    display: flex
    align-items: center
    justify-content: center
    transition: transform 0.3s ease, box-shadow 0.3s ease
        
    border-radius: 10px
    padding: 0px
    margin: 0 4vw 3vh 4vw

    color: #ffffff
    font-size: 40px
    font-weight: bold
    letter-spacing: 6px
    font-family: "Bangers", serif
    text-shadow: 2px 2px 4px #000000

    box-shadow: 2px 2px 10px #000000
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    
    &:hover
        color: #ffffffb4
        transform: translate(3%, 0%)
        box-shadow: -24px 0 48px #00000066, -32px 0 64px #0000004d, 16px 0 32px #0000001a
        mat-icon
            opacity: .5
            transition: opacity .2s ease-in-out
    //Borrar
    background-color: black 

.section-1
    margin-top: 3vh

@media ( min-width: 700px )
    .section
        font-size: 4vw !important
        margin: 0 3vw 3vh 3vw !important
        letter-spacing: 15px
    .section-1
        margin-top: 3vh !important


//Cambiar fotos
.section-1
    background-image: url('../../../assets/img/example-vehicles.jpg')
    &:hover
        background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent), url('../../../assets/img/example-vehicles.jpg')
.section-2
    background-image: url('../../../assets/img/example-recambios.jpg')
    &:hover
        background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent), url('../../../assets/img/example-recambios.jpg')
.section-3
    background-image: url('../../../assets/img/example-contact.jpg')
    &:hover
        background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent), url('../../../assets/img/example-contact.jpg')
    