// @import 'node_modules/bulma/bulma'
.page
    display: flex
    justify-content: center
    //Cambiar color
    background-color: #181818
.container-sections
    margin: 1.5vh
    margin-top: 8vh
    background-color: white
    width: 100%
    max-width: 1400px
    height: -webkit-fill-available
    //--- BORRAR ---
    border: solid green 1px 
.container-sections .section 
  flex-grow: 1

.section
    display: flex
    align-items: center
    justify-content: center
    &:hover
        transform: scale(.95)
    padding: 0px
    color: white
    font-size: 60px
    background-size: cover
    background-position: center
    background-repeat: no-repeat

    //--- BORRAR ---
    // border: solid 1px black
    background-color: black 

//Agregar fotos
.section-1
    background-image: url('../../../assets/img/example-car-section.jpg')
.section-2
    background-image: url('../../../assets/img/example-car-section.jpg')
.section-3
    background-image: url('../../../assets/img/example-car-section.jpg')
.section-4
    background-image: url('../../../assets/img/example-car-section.jpg')
    