<div class="page">
  <span class="page-title">J.L COMPETICIÓN</span>
  <div class="is-flex is-flex-direction-column container-page">
    <div class="pointer section section-1" (click)="goToVehiculos()">
      <mat-icon>forward</mat-icon>
      <span>Vehículos</span>
    </div>
    <div class="pointer section section-2" (click)="goToRecambios()">
      <mat-icon>forward</mat-icon>
      <span>Recambios</span>
    </div>
    <div class="pointer section section-3" (click)="goToContact()"> 
      <mat-icon>forward</mat-icon>
      <span>Contacto</span>
    </div>
  </div>
</div>